<div class="portfolio">

    <section class="top-nav">
      <div>
        <b>Nikhil Waghamode</b>
      </div>
      <input id="menu-toggle" type="checkbox" />
      <label class='menu-button-container' for="menu-toggle">
      <div class='menu-button'></div>
    </label>
      <ul class="menu">
        <li routerLink="">Home</li>
        <li routerLink="/Aboutme">About</li>
        <li routerLink="/Resume">Resume</li>
        <li routerLink="/Portfolio">Portfolio</li>
        <li routerLink="/Contact">Contact</li>
      </ul>
    </section>

</div>