    <body>
     <!-- ..........<About>......... -->
            <section class="about-me" id="/About">
                <app-header></app-header>

                <div class="container">
                    <div class="about-content">
                        <div class="left-content">
                            <!-- <div>
                                <h1 class="about-heading">About Me</h1>
                            </div> -->
                                <p style="text-align:center;"><img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/profile-design-template-4c23db68ba79c4186fbd258aa06f48b3_screen.jpg?ts=1581063859" alt="Logo"></p>
                            <h2>My Description</h2>
                            <p>
                                I am Nikhil Waghamode,<br>
                                More description coming soon....
                            <br><br></p>
                        </div>
                    </div>
                </div>

        
            <div class="skills">
                <div class="right-content">
                    <div>
                        <h1 class="skills-heading" style="color: black;">
                            <p>My Skills</p></h1>
                    </div>

                    <div style="text-align:center;" class="skills-bar">
                        <div class="html-bar">
                            <div style="color: black;" class="info"> 
                            HTML (HyperText Markup Language)
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                            </div>
                        </div><br><br>
                        <div class="css-bar">
                            <div style="color: black;" class="info"> 
                            CSS (Cascading Style Sheets)
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                            </div>
                        </div><br><br>                        
                        <div class="html-bar">
                            <div style="color: black;" class="info"> 
                            JavaScript
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                            </div>
                        </div><br><br>
                        <div class="candc-bar">
                            <div style="color: black;" class="info"> 
                            C & C++ programming language
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                            </div>
                        </div><br><br>
                        <div class="mysql-bar">
                            <div style="color: black;" class="info"> 
                            MySQL 
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                            </div>
                        </div><br><br>
                        <div class="nodejs-bar">
                            <div style="color: black;" class="info"> 
                            Node. js and jQuery 
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                            </div>
                        </div><br><br>
                        <div class="nodejs-bar">
                            <div style="color: black;" class="info"> 
                            Angular  
                            </div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                            </div>
                        </div><br><br>
                    </div>
                </div>
            </div>

            <div class="work-arrow">
                <p>
                    <a routerLink="/Portfolio" href="/My-work">Cheeck out my work <br> <mat-icon>arrow_downward</mat-icon></a>
                </p>                    
            </div>
        </section>
        <!-- ..........</About>......... -->


    </body>